NOTION_API_KEY=your-notion-integration-secret
NOTION_MAIN_DATABASE_ID=main-database-id
NOTION_MAIN_RELATION_PROPERTY=누구?
NOTION_MAIN_RELATION_PROPERTY_STUDENT=누구? (재원생)
NOTION_MAIN_RELATION_PROPERTY_INSTRUCTOR=
NOTION_MAIN_RELATION_PROPERTY_STAFF=
NOTION_MAIN_DATE_PROPERTY=이슈 타겟일
NOTION_STUDENT_DATABASE_ID=student-database-id
NOTION_STUDENT_NAME_PROPERTY=이름
NOTION_INSTRUCTOR_DATABASE_ID=instructor-database-id
NOTION_INSTRUCTOR_NAME_PROPERTY=이름
NOTION_STAFF_DATABASE_ID=staff-database-id
NOTION_STAFF_NAME_PROPERTY=이름
